<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_au_edu_unimelb_swen90007_domain_UserAccount" modelAttribute="userAccount" path="/users" render="${empty dependencies}" z="nlGWDNdbYt/BhPctT0hR7tWlRpA=">
        <field:input field="username" id="c_au_edu_unimelb_swen90007_domain_UserAccount_username" required="true" z="DpgWbUorxa9aiFgcz8ORsyDSMt8="/>
        <field:input field="password" id="c_au_edu_unimelb_swen90007_domain_UserAccount_password" required="true" z="KRfgJEnZBekf8oytpTRwTJ/5nck="/>
        <field:simple field="roles" id="c_au_edu_unimelb_swen90007_domain_UserAccount_roles" messageCode="entity_reference_not_managed" messageCodeAttribute="User Role" z="xQZWu7Ku1CBHkr3zfOX/3dTdV6g="/>
        <field:input field="name" id="c_au_edu_unimelb_swen90007_domain_UserAccount_name" required="true" z="DZIGGUNMDnPhMwa7GpFEXn5X08c="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_au_edu_unimelb_swen90007_domain_UserAccount" render="${not empty dependencies}" z="b2HbpbGMYg4XWZS5X952GHyxiOU="/>
</div>
