<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_au_edu_unimelb_swen90007_domain_TimeSheetEvent" modelAttribute="timeSheetEvent" path="/events" versionField="Version" z="kRF5x/GiJL0J0ASYafzRsr4XEUM=">
        <field:input field="startTime" id="c_au_edu_unimelb_swen90007_domain_TimeSheetEvent_startTime" z="FLi0t8iPTvsA6pMizaZw3UURfg4="/>
        <field:input field="endTime" id="c_au_edu_unimelb_swen90007_domain_TimeSheetEvent_endTime" z="xYOpq9QfQMClf0kd69vB74Yte9E="/>
        <field:input field="description" id="c_au_edu_unimelb_swen90007_domain_TimeSheetEvent_description" z="Id/0+H4lOpNLBc4BSkXCPDN40y8="/>
        <field:checkbox field="approved" id="c_au_edu_unimelb_swen90007_domain_TimeSheetEvent_approved" z="sJokX5ePfOXh+elfmMPeWE5psac="/>
        <field:select field="timesheet" id="c_au_edu_unimelb_swen90007_domain_TimeSheetEvent_timesheet" itemValue="id" items="${timesheets}" path="/timesheets" z="IwB87afUrJop5f1jI1Bc6aU+IiM="/>
    </form:update>
</div>
