<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_au_edu_unimelb_swen90007_domain_Company" modelAttribute="company" path="/companys" render="${empty dependencies}" z="bRyZRihD/dfbr4TQjf7IMX5muKg=">
        <field:textarea field="name" id="c_au_edu_unimelb_swen90007_domain_Company_name" required="true" z="EQ4lnD7xKCGpQ2WUOzNCXsNR4mU="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_au_edu_unimelb_swen90007_domain_Company" render="${not empty dependencies}" z="2Jqs9htuIlXPFpskStX/p8oE+70="/>
</div>
