<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_au_edu_unimelb_swen90007_domain_Company" modelAttribute="company" path="/companys" versionField="Version" z="BzVV0qvCGPHoHVlOE4+nMdZfMck=">
        <field:textarea field="name" id="c_au_edu_unimelb_swen90007_domain_Company_name" required="true" z="EQ4lnD7xKCGpQ2WUOzNCXsNR4mU="/>
    </form:update>
</div>
