<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_au_edu_unimelb_swen90007_domain_UserAccount" items="${useraccounts}" z="umdWvlop4x+wCiwJ2z7d5O06ZXE=">
        <table:table data="${useraccounts}" id="l_au_edu_unimelb_swen90007_domain_UserAccount" path="/useraccounts" z="92jldNJFewdYDxawrDWQRK0HShI=">
            <table:column id="c_au_edu_unimelb_swen90007_domain_UserAccount_username" property="username" z="EUgljHoK1Wh4HquBryJGU7/u3VU="/>
            <table:column id="c_au_edu_unimelb_swen90007_domain_UserAccount_password" property="password" z="XxliwGHTTrlr5Q73O8dn21OBRNA="/>
            <table:column id="c_au_edu_unimelb_swen90007_domain_UserAccount_roles" property="roles" z="zuuA2ibAz49yHM5QDLal7aeqXm4="/>
        </table:table>
    </page:list>
</div>
