<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_au_edu_unimelb_swen90007_domain_UserAccount" object="${useraccount}" path="/useraccounts" z="xi9fG5QIbrZxlg52+AyjMmbZEmw=">
        <field:display field="username" id="s_au_edu_unimelb_swen90007_domain_UserAccount_username" object="${useraccount}" z="D9QwyRKCfqE1DVHbO0u0ftS5DYU="/>
        <field:display field="password" id="s_au_edu_unimelb_swen90007_domain_UserAccount_password" object="${useraccount}" z="5ur9xDgLvsqTzGmuaFWidhDrbLg="/>
        <field:display field="roles" id="s_au_edu_unimelb_swen90007_domain_UserAccount_roles" object="${useraccount}" z="mJeDPbQAkqQxu5MAFfUmOF2RmSI="/>
    </page:show>
</div>
