<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_au_edu_unimelb_swen90007_domain_UserRole" object="${userrole}" path="/roles" z="wsYy6pNA2OAAxzhpcfXllJWvAtI=">
        <field:display field="name" id="s_au_edu_unimelb_swen90007_domain_UserRole_name" object="${userrole}" z="bFtyQsZfc2ttDVv6lA5yQw5tnxI="/>
    </page:show>
</div>
