<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_au_edu_unimelb_swen90007_domain_TimeSheet" modelAttribute="timeSheet" path="/timesheets" render="${empty dependencies}" z="1I57BqJ0350j8iXVCCClYtBDg+g=">
        <field:simple field="events" id="c_au_edu_unimelb_swen90007_domain_TimeSheet_events" messageCode="entity_reference_not_managed" messageCodeAttribute="Time Sheet Event" z="8Brs5fMMlYsbgEoc0OWxHMPjU10="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_au_edu_unimelb_swen90007_domain_TimeSheet" render="${not empty dependencies}" z="iZDDGp0FeYR+frJUuE4r9Notk0Q="/>
</div>
